<div class="btn-container-row">
    <div class="btn-row">
        <div class="corner-container truncate left">
            <div class="border-btn" [ngStyle]="{'background-color': bgColor}"></div>
        </div>
        <div class="main-btn noselect" [ngStyle]="{'background-color': bgColor, 'color': color}">
            {{ text }}
        </div>
        <div class="corner-container truncate right">
            <div class="border-btn right" [ngStyle]="{'background-color': bgColor}"></div>
        </div>
    </div>
</div>