@use "@angular/material" as mat;
:root {
    --primary-color: #141414;
    --accent-color: #b2b2b2;
    --error-color: #ce6464;
    --toolbar-color: #fff;
    --contrast-light: #ffffff;
    --contrast-grey: #b2b2b2;
    --contrast-dark: #000000;
    --checkbox-background-color: #fa3c0f;
    --checkbox-text-color: #ffffff
}

@include mat.core();
$default-primary: ( 50: var(--primary-color), 100: var(--primary-color), 200: var(--primary-color), 300: var(--primary-color), 400: var(--primary-color), 500: var(--primary-color), 600: var(--primary-color), 700: var(--primary-color), 800: var(--primary-color), 900: var(--primary-color), contrast: ( 50: var(--contrast-light), 100: var(--contrast-light), 200: var(--contrast-light), 300: var(--contrast-light), 400: var(--contrast-light), 500: var(--contrast-light), 600: var(--contrast-light), 700: var(--contrast-light), 800: var(--contrast-light), 900: var(--contrast-light)));
$my-app-primary: mat.define-palette($default-primary);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);
$my-app-theme: mat.define-light-theme( ( color: ( primary: $my-app-primary, accent: $my-app-accent, warn: $my-app-warn, ), ));
@include mat.all-component-themes($my-app-theme);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body,
.mat-drawer-content {
    height: 100%;
    background-color: var(--primary-color);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
    //overflow: hidden !important;
    background-color: #191919;
    overflow-x: hidden !important;
    // overflow-y: auto !important;
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000;
    background-color: #000;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #b30000;
    border-radius: 2px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #d60404;
}

.div-spacer {
    flex: 1 1 auto;
}

.mat-card-subtitle {
    color: #6f6f6f;
}

.mat-card {
    color: #ffffff;
    padding: 10px;
    background-color: #141414;
    border: 0 solid transparent;
    box-shadow: none !important;
}

.mat-card-header-text {
    margin: 0 !important;
    text-align: left !important;
    height: 72px !important;
}

.mat-card-header .mat-card-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mat-dialog-container {
    transform: none;
    padding: 0 !important;
    background-color: #191919;
    color: #fff;
    overflow-x: hidden !important;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.loading-image {
    background-color: #000;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mat-card-image {
    width: 100% !important;
    margin: 0 -16px 16px -16px;
    overflow: hidden;
    padding: 0 16px !important;
    height: 100% !important;
}